spring:
  application:
    name: "configserver"

  profiles:
#    active: git
      active: native
  cloud:
    config:
      server:
        native:
          search-locations: "classpath:/config"
#          search-locations: "file:///C:\\Users\\LENOVO\\Formations\\Web_dev\\banking\\configserver\\src\\main\\resources\\config"
#        git:
#          uri: "https://github.com/eazybytes/eazybytes-config.git"
#          default-label: main
#          timeout: 5
#          clone-on-start: true
#          force-pull: true


management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true
  metrics:
    tags:
      application: ${spring.application.name}


server:
  port: 8071

logging:
  pattern:
    level: "%5p[${spring.application.name},%X{trace_id},%X{span_id}]"
